//1 row = 20px
$theme-color: #2FCC72;

* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-weight: lighter;
}

body {
    max-width: 600px;
    width: 600px;
    margin: 0 auto;
}

a {
    color: $theme-color;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

#articleBody {
    padding: 0px 15px;
}

#logo {
    width: 300px;
    margin: 0 auto;
    padding: 30px 0px;
    #logoImg {
        width: 300px;
        height: auto;
    }
}

#title {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    padding: 0px 0px 10px 0px;
}

#articleIntro {
    font-size: 15px;
    padding: 15px 0px;
}

#authors {
    font-size: 13px;
    padding: 15px 0px;
}

.tag {
    background-color: $theme-color;
    padding: 5px;
    font-size: 12px;
    color: white;
    border-radius: 5px;
    margin-left: 5px;
}

.para {
    padding: 15px 0px;
    text-align: justify;
}

.grid {
    list-style: none;
    .gridBox {
        width: 48%;
        display: inline-block;
        vertical-align: top;
    }
}

.quote {
    background-color: #ecf0f1;
    padding: 20px;
    margin: 10px 0px;
}

#cover {
    background-color: $theme-color;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    left: 98px;
}

#coverImg {
    width: 200px;
    height: auto;
}

.artwork {
    position: relative;
    left: 98px;
}
footer {
    width: inherit;
    background-color: $theme-color;
    margin: 20px 0px 0px 0px;
    padding: 20px;
    color: white;
    text-align: center;
    vertical-align: middle;
}